NODE_ENV=production
APP_PORT=5050

POSTGRES_PORT=5434
POSTGRES_DB=wb_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost

WB_API=https://common-api.wildberries.ru/api/v1
WB_KEY=

GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=stocks_coefs